.stack_section {
    padding: 0 50px;
    margin-bottom: 100px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.stack_section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.stack_item {
    margin: 15px 0;
}

.stack_item span {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.progress_bar {
    background-color: #ddd;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
}

.filler {
    background-color: var(--accent-color);
    height: 100%;
    transition: width 0.6s ease;
}