.about_section {
    padding: 0 50px;
    margin-bottom: 100px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--accent-color);
}


.about_section h4 {
    font-size: 20px;
    margin: 10px 0;
    color: var(--accent-color);
}

.about_section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about_section hr {
    margin: 30px 0;
    border: none;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0.2;
}

.education {
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .about_section {
        padding: 0 20px;
    }

    .about_section h2 {
        font-size: 28px;
    }

    .about_section h4 {
        font-size: 18px;
    }

    .about_section p {
        font-size: 14px;
    }
}